@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

.wrapper {
    width: 65vmin;
    height: 70vmin;
    display:flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 5px;
    background: 5px;
    background-color: #8bac0f;
    border-left: 9vmin solid 	#32353f;
    border-right: 9vmin solid 	#32353f;
    border-bottom: 4.5vmin solid 	#32353f;
    border-top: 4.5vmin solid 	#32353f;
    border-bottom-right-radius: 9vmin;
    border-top-left-radius: 2vmin;
    border-top-right-radius: 2vmin;
    border-bottom-left-radius: 2vmin;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #A0A0A0;
    overflow: hidden
}

.game-details {
    font-family: "Press Start 2P", serif;
    font-size: 2vmin;
    font-weight: 500;
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:	#0f380f;
}

.play-board {
    width: 100%;
    height: 100%;
    background-color: 	#9bbc0f;
    display: flex;
    justify-content: center;
    align-items: center;
    display:grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    position: relative;
}
.play-board .apple {
    background: #306230;
    width: 75%;
    height: 75%;
    justify-self: center;
    align-self: center;
}
.play-board .head {
    background: #0f380f;
    width: 100%;
    height: 100%;
}
.footer {
    font-family: "Press Start 2P", serif;
    font-size: 1.2vmin;
    position: fixed;
    bottom: 0;
    background: #272929;
    text-align: center;
    padding: 1vmin;
    color:	#9a2257;
    border-top-left-radius:1.2vmin;
    border-top-right-radius:1.2vmin;
}
.start-message {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pixelify Sans", serif;
    font-size: 17vmin;
    color: #0f380f;
}
.game-over-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bbc0f;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P", serif;
    color: #0f380f;
    text-align: center;
}
.game-over-screen h2 {
    font-size: 6vmin;
    margin-bottom: 1vmin;
}
.game-over-screen p {
    font-size: 2vmin;
}